// color
$white: #fff;
$black: #000;
$black-500: #333;
$black-700: #111;
$gray: #f5f5f5;
$red: #f00;
$blue: #00f;
$green: #0f0;

// padding
$padding: 20px;
$padding-small: 8px;
$padding-medium: 16px;
$padding-large: 24px;

// time
$time: 0.6s;
$time-fast: 0.3s;
$time-slow: 0.9s;
